<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.1.xsd
	">
	<!-- Generador de beans -->
	<!-- ***************** video 9 **************** -->
	<bean id="empleadoBean9" class="com.pi.app.DISetter.JefeEmpleado">
		<constructor-arg ref="informeBean9"></constructor-arg>
	</bean>
 	<bean id="informeBean9" class="com.pi.app.DISetter.informeFinancieroImpl"></bean> 
	<!-- ***************** video 10 **************** -->
	<bean id="empleadoBean" class="com.pi.app.DISetter.DirectorEmpleado">
		<property name="informe" ref="informeBean"></property>
	</bean>
	<bean id="informeBean" class="com.pi.app.DISetter.informeFinancieroImpl"></bean>
</beans>