<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.1.xsd
	">
	<!-- Generador de beans -->
	<bean id="empleadoBean" class="com.pi.app.singleton_prototype.SecretarioEmpleado" scope="prototype">
		<constructor-arg ref="informeBean"></constructor-arg>
	</bean>
	<bean id="informeBean" class="com.pi.app.singleton_prototype.informeFinancieroImpl"></bean>
</beans>