<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-3.1.xsd
	">
	<!-- Generador de beans -->
	<!-- ***************** video 9 **************** -->
	<context:property-placeholder location="classpath:campos.properties"/>
	<bean id="empleadoBean11" class="com.pi.app.DIConstruc.DirectorEmpleado">
		<constructor-arg ref="informeBean11"></constructor-arg>
	</bean>
	<bean id="informeBean11" class="com.pi.app.DIConstruc.informeFinancieroImpl"></bean> 
	<bean id="empleadoBean" class="com.pi.app.camposProperties.SecretarioEmpleado">
		<constructor-arg ref="informeBean"></constructor-arg>
		<property name="email" value="${email}"></property>
		<property name="nomEmpresa" value="${NomEmpresa}"></property>
	</bean>
	<bean id="informeBean" class="com.pi.app.camposProperties.informeFinancieroImpl"></bean>
</beans>